*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
     background-color: #0F1111;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("image/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
   
}
.deliver{
    color: #cccccc;
    font: 12px "Amazon Ember", Arial,sans-serif;
    margin-left: 15px;
}
.country{
    color: #FFFFFF;
    font:14px "Amazon Ember",Arial,sans-serif;
    margin-left: 2.5px;
}
.icon{
    display: flex;
    align-items: center;
}



/* box-3 */
.nav-search{
display: flex;
justify-content: space-evenly;
width: 620px;
height: 40px;
border-radius: 5px;
background-color: orange;
}
#search{
    width:40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: #f3f3f3
}
#search:hover{
    border: 2px solid orange;
}
.input-search{
    width:100%;
    border: none;
    font-size: 1rem;
}
.input-search:hover{
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size:1.5rem;
    background-color: orange;
}
.nav-search:hover{
     border: 2px solid orange;
}



/* BOX-4 */

.flag{
    height: 40px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.en{
font-size: 25px;
display: flex;
align-items: center;
justify-content: center;

}
.flag-country{
   background-image: url("image/nepali-flag.jpg");
   background-size: cover;
   height: 20px;
   width: 20px;
}

/* box-5 */
.sign{
    font-size: 12px;
    color: #FFFFFF;
}
.Account{
    font-size:14px ;
    font-weight: 600;
}

/* box-5 */

.nav-cart i{
   font-size: 38px;
}

.cart{

font: 14px;
}



/* panel */

.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-options p{
    display:inline;
    margin-left: 15px;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight: 700;
}


/* hero-sectio */

.hero-section{
    background-image: url("image/hero_image.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 40px;
    margin-bottom: 25px;
    
}
.hero-msg a{
    color: #007185;
}
.text{
    background-image: linear-gradient(45deg,yellow 0%, green 40%, red 100%);
    -webkit-background-clip: text;
    color: transparent;
}


/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e2e2;
}
.box{
  
    height: 350px;
    width: 24%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    background-color: white;
}

.box_img{
    
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.img1{
    background-image: url("image/box1_image.jpg");
    background-size: cover;
}
.img2{
    background-image: url("image/box2_image.jpg");
    background-size: cover;
}
.img3{
    background-image: url("image/box3_image.jpg");
    background-size: cover;
}
.img4{
    background-image: url("image/box4_image.jpg");
    background-size: cover;
}
.img5{
    background-image: url("image/box5_image.jpg");
    background-size: cover;
}
.img6{
    background-image: url("image/box6_image.jpg");
    background-size: cover;
}
.img7{
    background-image: url("image/box7_image.jpg");
    background-size: cover;
}
.img8{
    background-image: url("image/box8_image.jpg");
    background-size: cover;
}
.box_content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box_content p{
    color:#007185; ;
}
.box_content h2{
    background-image: linear-gradient(55deg, gray 5%, skyblue 50%,pink 100%);
    -webkit-background-clip:  text;
    color: transparent;
}


/* foot_panel */
footer{
    margin-top: 20px;
}
.foot_panel{
    display: flex;
    background-color:#37475a ;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.85rem;
    
}


.foot_panel1{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
margin: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 20px;
    color: #DDDDDD;
}
.foot_panel2{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
        background-image: url("image/amazon_logo.png");
        background-size: cover;
        height: 50px;
        width: 100px;
    

}

.foot_panel3{
    background-color: #0F1111;
    color: white;
    height: 76px;
    font-size: 0.7rem;
    text-align: center;

}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top:5px;
}